/** ------- Counters for CustomerHome ------  **/
.counter
{
    /* background-color: #eaecf0; */
    /* text-align: center; */
}
.orders,.delivered,.intransit
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 18px;
    /* background-color: #5f77ac; */
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.orders-p,.delivered-p,.intransit-p
{
    font-size: 24px;
    color: #000000;
    line-height: 20px;
}

.column { 
        float: left; 
        width: 31%; 
        padding: 0 5px; 
    } 
          
    .row { 
        margin: 0 -5px; 
    } 
      
    .row:after { 
        content: ""; 
        display: table; 
    } 
h1 { 
        color: #010201; 
    } 
          
    { 
        box-sizing: border-box; 
    } 



/** ------- OrderTable for CustomerHome ------  **/

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5f77ac;
  color: white;
}


/** ------- OrderTable Buttons for CustomerHome ------  **/

.success {
    background-color: #4CAF50;
} /* Green */

.success:hover {
    background-color: #46a049;
}

.transit {
    background-color: #ff9800;
} /* Orange */

.transit:hover {
    background: #e68a00;
}

.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

